head{
    background-color: darkgoldenrod;
}

.btn1 {
    text-decoration:none;
    font-weight:60px;
    font-size:20px;
    color:cornsilk;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:#5eafa3;
  }

  .btn2 {
    text-decoration:none;
    font-weight:60px;
    font-size:20px;
    color:cornsilk;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:#5eafa3;
  }
